.titulo{
  text-align: center;
}

.img{
  margin-bottom: 6px;
  margin-left: 4px;
  height: 15px;
  width: 17px;
}

.caixa  {
  display: flex;
  justify-content: space-around;
}

.ajusteimg {
  display: flex;
  align-items: center;
}

.topo{
  margin-top: 30px;  
}

p{
  color: #646464;
  font-size: 18px;
}

h4{
  color: #ec7000;
  margin-bottom: 10px;
}

h5 {
  font-weight: 400;
}

input {
  box-shadow: 0 0 0 0 !important;
  border: 0 none !important;
  outline: 0 !important;
  color: #646464 !important;
} 

@media (max-width: 550px){

  .titulo{
    text-align: left;
  }



  .caixa  {
    display: flex;
    flex-flow: wrap column;
    margin-left: 4vh;
    margin-right: 4vh;
  }

  .topo{
    width: 100%; 
  }
}