<div class="d-flex h-100 w-100 flex-column justify-content-between">
  <app-header></app-header>
  <section style="flex-grow: 1">
    <ng-content></ng-content>
  </section>
  <app-footer></app-footer>
</div>
