.footer, .container-fluid {
  width: 100%;
  margin-top: 6vh;
  color: white;
  background-color: #ec7000;
  padding: 2vh;
}

.footer a:any-link {
  color: white;
}

.footer a:link {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: white;
}

@media (max-width: 1600px) and (max-height: 980px) {
  .footer {
    position: relative;
    bottom: 0;
  }
}
