<app-page>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h5 class="">Ficou ainda mais fácil se tornar um cliente do</h5>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <img class="" src="../../../assets/images/logo.png" />
      </div>
      <div class="col-12 d-flex justify-content-center">
        <h6 class="">Para começar, nos informe os dados abaixo:</h6>
      </div>
    </div>

    <main>
      <form class="row g3">
        <div class="col-md-6">
          <label for="pais">Informe seu País</label>
          <input
            type="text"
            class="form-control"
            aria-label="pais"
            name="pais"
            id="pais"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="cep">Informe seu CEP</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ex: 00000-000"
            aria-label="cep"
            name="cep"
            id="cep"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="estado">Informe seu Estado</label>
          <input
            type="estado"
            class="form-control"
            aria-label="estado"
            name="estado"
            id="estado"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="endereco">Informe seu endereço com complemento</label
          ><br />
          <textarea
            name="endereco"
            id="endereco"
            class="form-control"
            placeholder="Exemplo Rua, Av, Loteamento Ap101, Torre 5"
            required
          >
          </textarea>
        </div>

        <div class="col-md-6">
          <label for="cidade">Informe sua cidade</label>
          <input
            type="cidade"
            class="form-control"
            aria-label="cidade"
            name="cidade"
            id="cidade"
            required
          />
        </div>

        <div class="col col-12 d-flex justify-content-center mt-5">
          <a [routerLink]="'terceira-pagina-cadastro'">
            <button type="button" id="botao" class="btn btn-warning">
              Continuar
            </button>
          </a>
        </div>
      </form>
    </main>
  </div>
  <router-outlet></router-outlet>
</app-page>
