<app-page>
  <section class="container-fluid">
    <section class="container frm-bg">
      <section class="col-md-5 mobile-width">
        <form
          id="formulario"
          *ngIf="formRedefinirSenha"
          [formGroup]="formRedefinirSenha"
        >
          <h1>Redefinir senha</h1>
          <br />
          <div class="full-box">
            <input
              type="text"
              class="form-control"
              placeholder="Informe seu CPF"
              formControlName="cpf"
            />
            <ng-container *ngIf="formRedefinirSenha.controls.cpf.touched">
              <span *ngIf="formRedefinirSenha.controls.cpf.errors"
                >CPF no formato inválido</span
              >
            </ng-container>
          </div>
          <div class="full-box">
            <input
              type="number"
              class="form-control"
              placeholder="Informe o Código"
              data-min-length="6"
              formControlName="codigoConfirmacao"
            />
            <ng-container
              *ngIf="formRedefinirSenha.controls.codigoConfirmacao.touched"
            >
              <span *ngIf="formRedefinirSenha.controls.codigoConfirmacao.errors"
                >Código no formato inválido</span
              >
            </ng-container>
          </div>
          <div class="full-box">
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Informe a senha"
              formControlName="novaSenha"
            />

            <ng-container *ngIf="formRedefinirSenha.controls.novaSenha.touched">
              <span *ngIf="formRedefinirSenha.controls.novaSenha.errors"
                >Senha no formato inválido. <br />Deve ter 8 caracteres ou mais,
                pelo menos uma letra, um número e um caractere especial</span
              >
            </ng-container>
          </div>
          <div class="full-box">
            <input
              type="password"
              class="form-control"
              id="passconfirmation"
              placeholder="Confirme a senha"
              formControlName="novaSenhaConfirmacao"
            />
            <ng-container
              *ngIf="formRedefinirSenha.controls.novaSenhaConfirmacao.touched"
            >
              <span
                *ngIf="formRedefinirSenha.controls.novaSenhaConfirmacao.errors"
                >Senha no formato inválido. <br />
                Deve ter 8 caracteres ou mais, pelo menos uma letra, um número e
                um caractere especial</span
              >
            </ng-container>
          </div>
          <div class="full-box" (click)="cadastrarNovaSenha()">
            <input
              type="submit"
              class="form-control"
              id="botao-form"
              value="Confirmar"
            />
          </div>
          <div class="full-box">
            <input
              type="button"
              class="form-control"
              id="enviar-cod"
              value="Solicitar código"
              (click)="exibirCodigo()"
            />
          </div>
        </form>
      </section>
      <p class="error-validation template"></p>
    </section>
  </section>
</app-page>
