section{
  margin: 0;
  padding: 0;
}

/*area-cliente*/
h1{
  margin: 10vh 0vh 0vh 72vh;
}

h5{
  margin:1vh 0vh 0vh 70vh;
}

article{
  margin: 1vh 100vw 0vh 39vw;
}

button {
  margin: 25vh 1vw 0vh 0vw;
  font-size: 20px;
}

.btn{
  margin-top: 20px;
  background-color: #F0AD4E;
  color: #fff;
  border: #F0AD4E 2px solid;
  cursor: pointer;
  width: 20vh;
}

