body{
  margin: 0;
  padding: 0;
}

/*area-cliente*/
h1{
  margin: 10vh 0vh 0vh 70vh;
}
h4{
 text-align: center;
}

.form-control{
  width: 70vh;
  margin: 0vh 0vh 0vh 60vh;
}

article{
  margin: 0vh 0vh 0vh 90vh;
}

button {
  float: right;
  margin: 0vh 2vw 25vh 0vw;

}

.btn{
  background-color: #F0AD4E;
  color: #fff;
  border: #F0AD4E 1px solid;
  cursor: pointer;
  width: 20vh;
}


