<app-page>
  <section>
    <h1>Encerramento de Conta</h1>
    <hr />
    <h4 id="campo">Insira seu número de telefone abaixo.</h4>

    <span
      class="mb-3 row d-flex justify-content-center"
      style="margin-left: 160px; margin-right: 520px"
    >
      <input
        type="tel"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="(00) 0 0000-0000"
        style="text-align: center"
      />
    </span>

    <article class="d-flex">
      <span>
        <a [routerLink]="'/encerramento'">
          <button type="button" id="botao1" class="btn btn-warning">
            Voltar
          </button>
        </a>
      </span>

      <span>
        <a [routerLink]="'../codigo'">
          <button type="button" id="botao2" class="btn btn-warning">
            Avançar
          </button>
        </a>
      </span>
    </article>
  </section>
</app-page>
