

/*area-cliente*/

.titulo{
  text-align: center;
  margin-left: 100vw;
}

hr{
 margin: 0;
 width: 99vw;
}

.texto{
  margin: 1vh 0vw 0vh 30vw;

}

.form-control{
  width: 40vw;
  justify-content: center;

}

article{
  margin: 3vh 30vw 0vh 2vw;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0;
  font-size: 20px;
}

.btn{
  margin: 1vh 1vw 0vh 0vw;
  background-color: #F0AD4E;
  color: #fff;
  border: #F0AD4E 1px solid;
  cursor: pointer;
  width: 10vw;
}

/* @media only screen and (min-width: 600px) {
   .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
} */

@media (max-width: 144px) and (max-height: 360px) {
  section{
    max-width:75%;
    max-height:100%;
    justify-content: center;
  }
  form{
    max-width: 100%;
    max-height:75%;
    justify-content: center;
  }
  .btn{
    max-width: 100%;
    max-height:75%;
    justify-content: center;
  }
  .form-control{
    max-width: 100%;
    max-height:75%;
    justify-content: center;
  }
}

@media only screen and (min-device-width: 720px) and (max-device-width: 1080px) {
  section {
    max-width:47%;
    max-height:100%;
    justify-content: center;
  }
  form{
    max-width: 47%;
    max-height:100%;
    justify-content: center;
  }
  .btn{
    max-width: 47%;
    max-height:100%;
    justify-content: center;
  }
  .form-control{
    max-width: 47%;
    max-height:100%;
    justify-content: center;
  }
}
