<app-page>
  <section>
    <span class="titulo">
      <h1>Encerramento de Conta</h1>
      <hr />
      <h4 id="campo">Insira seu e-mail abaixo.</h4>
    </span>

    <form [formGroup]="emailForm" class="texto">
      <input
        type="email"
        class="form-control d-flex"
        id="email"
        formControlName="email"
      />
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="email.errors.required">Email is required.</div>
        <div *ngIf="email.errors.email">Please enter a valid email.</div>
      </div>

      <article class="d-flex">
        <span>
          <a [routerLink]="'/encerramento'">
            <button type="button" id="botao1" class="btn btn-warning">
              Voltar
            </button>
          </a>
        </span>

        <span (click)="avancar()">
          <a [routerLink]="'./codigo'">
            <button type="button" id="botao2" class="btn btn-warning">
              Avançar
            </button>
          </a>
        </span>
      </article>
    </form>
  </section>
</app-page>
