  .alterar-senha{
    font-size: 16pt;
    margin-left: 20px;
    color: inherit;
    text-decoration: none;
  }
  
  .alterar-dados{
    display:-ms-inline-flexbox;
    margin: 20px; 
  
  }
  .botao-nav{
    padding: 8px;
    margin-bottom: 5px;
    background-color: #ff9900;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10pt;
  }
  #btn{
    padding: 8px;
    margin-top: 20px;
    background-color: #ff9900;
    border: #ff9900 1px solid;
  }
  
  .dados{
    display: inline-table;
    width: 300px;
    height: 400px;
    padding: 5px;
    text-align:center;
  }
  .opcao-div-nav{
    margin-right: 15px;
  }
  .size-form{
    padding: 8px;
    margin-bottom: 1px;
    display: block;
    border-radius: 1px;
    text-decoration: none;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16pt;
    width:400px;
   
  }
  
  
  
  #h3-tl{
    margin-left: 2px;
    color: #4F4F4F;
  }
  
  h4{
    margin-left: 15px;
    color: #696969;
  }
  
  #none-p{
    margin-left: 16px;
    color: #B5B5B5;
  }