<app-page>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h5 class="">Ficou ainda mais fácil se tornar um cliente do</h5>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <img class="" src="../../../assets/images/logo.png" />
      </div>
      <div class="col-12">
        <h6 class="d-flex justify-content-center">
          Estamos quasei finalizando!
        </h6>
        <h6 class="d-flex justify-content-center">
          Agora está mais perto do que nunca de você se tornar nosso Cliente!
        </h6>
      </div>
    </div>

    <main>
      <form>
        <div class="row g3 mt-3 d-flex justify-content-center">
          <div class="col-md-6">
            <div class="ms-5 mt-3">
              <input
                class="form-check-input"
                type="checkbox"
                id="checkboxNoLabel"
                value=""
                aria-label="..."
              /><span class="ps-2">Li e aceito os termos de uso</span>
            </div>

            <div class="ms-5 mt-3">
              <input
                class="form-check-input"
                type="radio"
                name="radioNoLabel"
                id="radioNoLabel1"
                value=""
                aria-label="..."
              /><span class="ps-2">Eu estou de acordo com as Políticas</span> de
              Privacidade do
              <img
                src="../../../assets/images/logo.png"
                class="logo-termo-aceito"
                width="70rem"
                height=""
              />
            </div>
          </div>
        </div>

        <div class="row g3 d-flex justify-content-center mt-3">
          <div class="col-md-6"></div>
        </div>

        <div class="col col-12 d-flex justify-content-center mt-5">
          <button type="submit" class="btn btn-warning">Cadastrar</button>
        </div>
      </form>
    </main>
  </div>
  <router-outlet></router-outlet>
</app-page>
