<app-page>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />

  <div class="container">
    <div class="row row-cols-1">
      <div class="col">
        <section id="search-section">
          <label for="search">Pesquisar</label>
          <div id="search-div">
            <input type="text" name="search" />
            <img
              src="/assets/images/search.png"
              width="20px"
              height="20px"
              alt=""
            />
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row row-cols-1">
      <div class="col">
        <section id="nome-cliente-section">
          <h3>Olá, Aluno Proway</h3>
        </section>
      </div>
    </div>
  </div>

  <section>
    <div class="container d-flex justify-content-center">
      <div class="row">
        <div class="col my-3 mx-4">
          <a href="">
            <img src="/assets/images/prev.png" width="50px" alt="Anterior" />
          </a>
        </div>

        <div class="col my-3 mx-4 d-flex justify-content-center flex-wrap">
          <a href="../edit">
            <figure>
              <img
                src="/assets/images/user.png"
                width="50px"
                alt="Minha Conta"
              />
            </figure>
            <figcaption>Minha Conta</figcaption>
          </a>
        </div>

        <div class="col my-3 mx-4 d-flex justify-content-center flex-wrap">
          <a href="">
            <figure>
              <img
                src="/assets/images/security.svg"
                width="50px"
                alt="Segurança e privacidade"
              />
            </figure>
            <figcaption>Segurança e Privacidade</figcaption>
          </a>
        </div>

        <div class="col my-3 mx-4 d-flex justify-content-center flex-wrap">
          <a href="">
            <figure>
              <img
                src="/assets/images/app-info.png"
                width="50px"
                alt="Sobre o app"
              />
            </figure>
            <figcaption>Sobre o App</figcaption>
          </a>
        </div>

        <div class="col my-3 mx-4 d-flex justify-content-center flex-wrap">
          <a href="">
            <figure>
              <img
                src="/assets/images/transfer.png"
                width="50px"
                alt="Transferências"
              />
            </figure>
            <figcaption>Transferências</figcaption>
          </a>
        </div>

        <div class="col my-3 mx-4 d-flex justify-content-center flex-wrap">
          <a href="">
            <figure>
              <img
                src="/assets/images/payments.png"
                width="50px"
                alt="Pagamentos"
              />
            </figure>
            <figcaption>Pagamentos</figcaption>
          </a>
        </div>

        <div class="col my-3 mx-4 d-flex justify-content-center flex-wrap">
          <a href="">
            <img src="/assets/images/next.png" width="50px" alt="Próximo" />
          </a>
        </div>
      </div>
    </div>
  </section>
</app-page>
