<app-page>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <form class="size-form" action="">
          <h1 id="t-center">Alterar Dados Pessoais</h1>
          <label for="dados pessoais">Que dado você deseja alterar:</label>
          <select
            id="btn"
            class="form-select mt-2"
            aria-label="Default select example"
          >
            <option value="Nome">Nome</option>
            <option value="Data de Aniversário">Data de Aniversário</option>
            <option value="Estado Civil">Estado</option>
          </select>
          Digite aqui sua alteração:
          <input
            id="btn"
            class="form-control mt-2"
            type="text"
            placeholder="..."
            aria-label="default input example "
          />
          <div class="d-grid gap-2 mt-2">
            <button id="btn" class="btn btn-primary" type="button">
              Salvar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-page>
