<app-page>
  <section>
    <h1>Encerramento de Conta</h1>
    <hr />
    <h4 id="campo">Insira o código no campo abaixo.</h4>

    <div
      class="mb-3 row d-flex justify-content-center"
      style="margin-left: 160px; margin-right: 520px"
    >
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Insira o código aqui."
        style="text-align: center"
      />
    </div>

    <article>
      <a [routerLink]="'/encerramento'">
        <button type="button" id="botao1" class="btn btn-warning">
          Voltar
        </button>
      </a>
      <a [routerLink]="'../justificativa'">
        <button type="button" id="botao2" class="btn btn-warning">
          Avançar
        </button>
      </a>
    </article>
  </section>
</app-page>
