body{
  margin: 0;
  padding: 0;
}

/*area-cliente*/

h1{
  margin: 10vh 0vh 0vh 70vh;
}
h4{
 text-align: center;
}

.form-control{
  width: 80vh;
  margin: 0vh 0vh 0vh 65vh;
}

article{
  margin: 0vh 0vh 0vh 85vh;
}

span{
  margin: 0vh 0vh 0vh 65vh;
}

button {
  margin: 0vh 0vh 0vh 5vh;
  width: 20vh;
  font-size: 20px;
}

.btn{
  background-color: #F0AD4E;
  color: #fff;
  border: #F0AD4E 1px solid;
  cursor: pointer;
  width: 20vh;
}



