<div class="modal-header">
  <h4 class="modal-title">E-mail ou número de celular!</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <section class="container-fluid">
    <section class="container frm-bg">
      <section class="col-md-5 mobile-width">
        <form id="formulario" [formGroup]="redefinirSenhaForm">
          <div class="full-box">
            <input
              placeholder="E-mail"
              type="email"
              name=""
              class="form-control"
              formControlName="email"
              id="email-redefinir"
            />
            <ng-container *ngIf="redefinirSenhaForm.controls.email.touched">
              <span *ngIf="redefinirSenhaForm.controls.email.errors">
                E-mail inválido
              </span>
            </ng-container>
          </div>

          <div class="full-box mt-3">
            <input
              placeholder="Telefone"
              type="tel"
              name=""
              class="form-control"
              formControlName="telefone"
              id="telefone-redefinir"
            />

            <ng-container *ngIf="redefinirSenhaForm.controls.telefone.touched">
              <span *ngIf="redefinirSenhaForm.controls.telefone.errors">
                Telefone inválido
              </span>
            </ng-container>
          </div>
        </form>
      </section>
    </section>
  </section>
</div>

<div class="modal-footer">
  <div class="full-box">
    <button
      type="submit"
      class="form-control"
      (click)="activeModal.close('Close click')"
    >
      Enviar Código
    </button>
  </div>
</div>
