header {
    background-color: rgb(239, 200, 142);
    display: flex;
    justify-content: space-between;
    min-height: 14vh;
    margin-bottom: 6vh; 
    padding: 2vh;
  }

  nav {
    display: flex;
    padding: 1vh;
    align-items: center;
  }

  a {
    width: 10rem;
  }

  .botao {
    background: #ec7000;
    color: white
  }

  #logo {
    width: 9rem;
    height: 2rem;
  }

  #locker {
    width: 20px;
    height: 20px;
  }